.grid-divider {
    overflow-x: hidden;
    position: relative;
}
  
.grid-divider > [class*="col-"]:nth-child(n + 2):after {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}
@media (max-width: 767px) {
    .grid-divider > [class*="col-"]:nth-child(n + 2):after {
        width: 100%;
        height: 1px;
        left: 0;
        top: -4px;
    }
}
@media (min-width: 768px) {
    .grid-divider > [class*="col-"]:nth-child(n + 2):after {
        width: 1px;
        height: auto;
        left: -1px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    color: #888888;
}

.content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-footbar {
    padding-top: 18px;
    padding-bottom: 18px;
}

#main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: #FFF;
}

#vision_mission {
    background-color: #f5f5fb;
}

#structure {
    background-color: #FFF;
    color: #000;
}

#news {
    background-color: #EAE9FF;
    color: #000;
}

#service {
    background-color: #f9f9f9;
    color: #000;
}

#contact {
    background-color: #f5f5fb;
}

#footbar {
    background-color: #6059F6;
    color: #fff;
}

.main-nav .navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid silver;
}

.main-nav .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.main-nav .navbar-nav .nav-item {
    padding: 15px;
    font-weight: bold;
}

.bg-main-logo {
    height: 225px;
    background-color: #6059F6;
    padding: 30px;
    border-radius: 50%;
}

.main-logo {
    height: 100%;
}

.bg-main {
    background-color: #6059F6;
}

.btn-sticky-main {
    background-color: #554dcd;
    border: none;
}

.btn-main {
    background-color: #6059F6;
    border: none;
}

.main-row .navbar-dark .navbar-toggler {
    border: none;
    border-radius: 50%;
    background-color: #6059F6;
    height: 125px;
    width: 125px;
}

.main-row .navbar-dark .navbar-toggler .navbar-toggler-icon {
    width: 4.5em;
    height: 4.5em;
}

.main-row .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.auth-nav {
    position: absolute;
    top: 10px;
    width: 100%;
}


.stick-nav:not(.stick-nav:stuck) .navbar-nav { 
    display: none;
}

.stick-nav:stuck .navbar-nav { 
    display: block;
}

.stick-nav .navbar-nav .nav-link {
    color: rgb(255,255,255);
    font-weight: bold;
}

.stick-nav .navbar-nav .nav-item:last-child {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
 }

@media (max-width: 768px) {
    .main-nav .navbar-nav .nav-item:not(:last-child) {
        border-right: none;
    }
    
    .main-nav .navbar-nav .nav-item {
        padding: 0px;
    }

    .bg-main-logo {
        height: auto;
        background-color: chocolate;
        padding: 30px;
        border-radius: 50%;
    }

    .main-row .navbar-dark .first-nav {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }

    .main-row .navbar-dark .second-nav {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    .stick-nav .navbar-nav .nav-item:last-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }
}

.bg-primary-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.15);
    z-index: -1;
}

.title-main {
    color: #6059F6;
    font-weight: bold;
}

.sub-title {
    color: #000;
    font-weight: bold;
}

.bg-about-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-map .nav-info {
    color: #fff;
    background-color: #17A2B8;
}

.bg-map .nav-warning {
    color: #fff;
    background-color: #FFC107;
}

.bg-map .nav-danger {
    color: #fff;
    background-color: #DC3545;
}

.contact-info {
    color: #000;
}

.hr-white {
    border-top: 1px solid #fff;
}

.bg-avatar {
    background-color: #F8F8FF;
    padding: 5px;
}

.bg-avatar .bg-structure-img {
    width: 10em;
    height: 10em;
    margin: auto;
    padding: 25px;
    border-radius: 50%;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #D2CFFF;
}

.bg-avatar h5 {
    margin: 0;
    font-size: 1em;
}

.bg-news-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.bg-news-featured {
    background-color: #fff;
    color: #000;
    padding: 5px;
}

.bg-news-caption {
    padding: 10px;
}

.date-news {
    width: 100%;
    text-align: center;
}

.bg-news-small-featured {
    background-color: #fff;
    border: 1px solid rgb(228, 228, 228);
    color: #000;
    padding: 5px;
}

.bg-news-small-featured .col-12:not(:last-child) .bg-news-small-content {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(245, 245, 245)
}

.bg-news-small-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 96px;
}